<div id="<%= dom_id video_technical_detail %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Video:</strong>
    <%= video_technical_detail.video_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= video_technical_detail.duration %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bitrate:</strong>
    <%= video_technical_detail.bitrate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">File size:</strong>
    <%= video_technical_detail.file_size %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Video stream:</strong>
    <%= video_technical_detail.video_stream %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Video codec:</strong>
    <%= video_technical_detail.video_codec %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Resolution:</strong>
    <%= video_technical_detail.resolution %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Width:</strong>
    <%= video_technical_detail.width %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Height:</strong>
    <%= video_technical_detail.height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Frame rate:</strong>
    <%= video_technical_detail.frame_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Audio stream:</strong>
    <%= video_technical_detail.audio_stream %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Audio codec:</strong>
    <%= video_technical_detail.audio_codec %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Audio sample rate:</strong>
    <%= video_technical_detail.audio_sample_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Audio channels:</strong>
    <%= video_technical_detail.audio_channels %>
  </div>
</div>
