<div id="<%= dom_id image %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Image source url:</strong>
    <%= image.image_source_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image file name:</strong>
    <%= image.image_file_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image file path:</strong>
    <%= image.image_file_path %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image file size:</strong>
    <%= image.image_file_size %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image resolution:</strong>
    <%= image.image_resolution %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image width:</strong>
    <%= image.image_width %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image height:</strong>
    <%= image.image_height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image credit:</strong>
    <%= image.image_credit %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication title:</strong>
    <%= image.publication_title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication month:</strong>
    <%= image.publication_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication year:</strong>
    <%= image.publication_year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication url:</strong>
    <%= image.publication_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publicaiton article title:</strong>
    <%= image.publicaiton_article_title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication article scripture:</strong>
    <%= image.publication_article_scripture %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication chapter number:</strong>
    <%= image.publication_chapter_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication chapter title:</strong>
    <%= image.publication_chapter_title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication page:</strong>
    <%= image.publication_page %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication paragraph number:</strong>
    <%= image.publication_paragraph_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication paragraph question:</strong>
    <%= image.publication_paragraph_question %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication paragraph text:</strong>
    <%= image.publication_paragraph_text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication paragraph scriptures:</strong>
    <%= image.publication_paragraph_scriptures %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Publication meeting part:</strong>
    <%= image.publication_meeting_part %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image caption:</strong>
    <%= image.image_caption %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image subject keywords:</strong>
    <%= image.image_subject_keywords %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image bible characters:</strong>
    <%= image.image_bible_characters %>
  </div>
</div>
